@page "/account/{id:int}"
@using BankKazungV2.Shared.Models
@inject HttpClient Http
@attribute [Authorize]

<AuthorizeView Context="Auth">
    @if(fullAccountLoading) {
        <p>Loading!</p>
    }
    @if(fullAccount == null && fullAccountLoading == false)
    {
        <p>ERROR</p>
    }
    @if(fullAccount != null && fullAccountLoading == false)
    {
        <div class="container">
            <div class="bg-light p-2 d-flex justify-content-between">
                <h4 class="mr-2">@fullAccount.Name</h4>
                <h4 class="ml-2">@fullAccount.AccountID</h4>
            </div>
        </div>   
    }
</AuthorizeView>

@code {
    [Parameter]
    public int id { get; set; }

    private Account fullAccount;
    private bool fullAccountLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            fullAccount = await Http.GetFromJsonAsync<Account>($"api/Account/jwt/get/account?_accountID={id}");
            fullAccountLoading = false;
        } catch
        {
            fullAccountLoading = false;
        }
    }
}
