@page "/"
@layout AuthenticationLayout
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<h1>BankKazungV2</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        bool userAuthenticated = authState.User.Identity.IsAuthenticated;
        if(userAuthenticated)
        {
            Console.WriteLine("User is Authenticated");
            NavigationManager.NavigateTo("/overview");
            StateHasChanged();
        }
        if(!userAuthenticated)
        {
            Console.WriteLine("User is not Authenticated");
            NavigationManager.NavigateTo("/authentication/login");
            StateHasChanged();
        }
    }
}
